<div class="container">
    <h2 class="text-center mb-4">Lista de Pokémon</h2>
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4" *ngFor="let pokemon of pokemonList">
        <div class="card" (click)="openModal(pokemon.name)" data-bs-toggle="modal" data-bs-target="#pokemonModal">
          <img class="card-img-top" [src]="pokemon.photo" alt="{{ pokemon.name }}">
          <div class="card-body">
            <h5 class="card-title"  style="color: blue">{{ pokemon.name | uppercase}}</h5>
            <p><strong>Tipo:</strong> {{ pokemon.type }}</p>
            <p><strong>Peso:</strong> {{ pokemon.weight }}</p>
            <p><strong>Habilidades:</strong></p>
            <ul>
              <li *ngFor="let ability of pokemon.abilities">{{ ability.ability.name }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="pokemonModal" tabindex="-1" aria-labelledby="pokemonModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="pokemonModalLabel">{{ selectedPokemon?.name }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
        </div>
        <div class="modal-body">
          <img [src]="selectedPokemon?.photo" alt="{{ selectedPokemon?.name }}" class="img-fluid mb-3">
          <p><strong>Tipo:</strong> {{ selectedPokemon?.type }}</p>
          <p><strong>Peso:</strong> {{ selectedPokemon?.weight }}</p>
          <p><strong>Habilidades:</strong></p>
          <ul>
            <li *ngFor="let ability of selectedPokemon?.abilities">{{ ability.ability.name }}</li>
          </ul>
          <p><strong>Descripción:</strong> {{ selectedPokemon?.description }}</p>
          <p><strong>Movimientos:</strong></p>
          <ul>
            <li *ngFor="let move of selectedPokemon?.moves">{{ move }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  