.card {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }

  .card img {
    width: 100%;
    height: auto;
  }
  
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  
  .card-body {
    padding: 1rem;
  }
  
  .card-text {
    margin-bottom: 0.5rem;
  }
  
  .card ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .card ul li {
    margin-bottom: 0.25rem;
  }

  /* Estilos para el modal */
.modal-dialog {
  max-width: 400px; /* Ancho máximo del modal */
}

.modal-content {
  border-radius: 10px; /* Bordes redondeados */
}

.modal-header {
  background-color: #007bff; /* Color de fondo del encabezado */
  color: #fff; /* Color del texto del encabezado */
}

.modal-body {
  padding: 20px; /* Espaciado interno del cuerpo del modal */
  text-align: center; /* Centrar el contenido */
}

.modal-body img {
  max-width: 100%; /* Ajustar la imagen al ancho máximo del modal */
  border-radius: 10px; /* Bordes redondeados para la imagen */
}

.modal-body p {
  margin-bottom: 10px; /* Espaciado inferior para los párrafos */
}

.modal-body ul {
  list-style-type: none; /* Eliminar viñetas de la lista */
  padding-left: 0; /* Eliminar el relleno izquierdo de la lista */
}

.modal-body ul li {
  margin-bottom: 5px; /* Espaciado inferior para los elementos de la lista */
}

.modal-body strong {
  font-weight: bold; /* Hacer el texto en negrita */
}
/* Estilos para el botón de cerrar el modal */
.btn-close {
  background-color: transparent; /* Fondo transparente */
  border: none; /* Sin borde */
  color: #007bff; /* Color del texto */
  font-size: 18px; /* Tamaño de la fuente */
  font-weight: bold; /* Texto en negrita */
  cursor: pointer; /* Cursor apuntador al pasar el ratón */
}

.btn-close:hover {
  color: #0056b3; /* Cambiar el color del texto al pasar el ratón */
}

.btn-close:focus {
  outline: none; /* Eliminar el contorno al enfocar */
}

  